body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
canvas {
  margin: 0;
  padding: 0;
}
.main {
  position: relative;
}
.controls{
  position: absolute;
  top: 75%;
  left:75%;
  width: 6rem;
  height: 4rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 900;
  /* background-color: #ddd;  */
}

.controls button.key {
  background-color: #eee;
  width: 2rem;
}

.one{
  width: 100%;
  display: flex;
  justify-content: center;
}
.three{
  width: 100%;
  display: flex;
  justify-content: space-between;
}